<header class="layout-wrapper">
  <div class="layout-container">
    <div class="header-top">
      <a href="{{ site.baseurl }}/">
        <h2>{{ site.title }}</h2>
      </a>
      <button id="nav-btn">&equiv;</button>
    </div>
    <menu id="nav-menu" class="hidden">
      <a href="{{ "/categories" | relative_url }}">categories</a>
      <a href="https://github.com/cruncha-cruncha">github<span class="nearr">&nearr;</span></a>
      <a href="{{ "/feed.xml" | relative_url }}">rss</a>
    </menu>
  </div>
</header>

<script defer>
  document.getElementById("nav-btn").addEventListener("click", function () {
    document.getElementById("nav-menu").classList.toggle("hidden");
    document.getElementById("nav-btn").classList.toggle("active");
  });
</script>