<div class="pager">
    {%- if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">&larr;</a>
    {%- else -%}
    <a href="#" class="previous-page invisible">&larr;</a>
    {%- endif %}

    {%- if paginator.previous_page or paginator.next_page -%}
    <span class="current-page">page {{ paginator.page }}</span>
    {%- else -%}
    <span class="current-page invisible">page {{ paginator.page }}</span>
    {%- endif -%}

    {%- if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">&rarr;</a>
    {%- else -%}
    <a href="#" class="next-page invisible">&rarr;</a>
    {%- endif %}
</div>