{%- assign href = post.url | relative_url -%}
{%- if post.link -%}
{%- assign href = post.link -%}
{%- endif -%}

<li class="post-summary">
    <a class="date" href="{{ post.url | relative_url }}">
        {{ post.date | date: site.date_format }}
    </a>
    <a class="title" href="{{ href }}">
        <h1>
            {%- if post.link -%}
            <span class="nearr"></span>
            {%- endif -%}
            {{ post.title | escape }}
        </h1>
    </a>
    {%- if post.byline -%}
    <a class="byline" href="{{ post.url | relative_url }}">{{ post.byline }}</a>
    {%- endif -%}
</li>