{%- assign href = post.url | relative_url -%}
{%- if post.link -%}
{%- assign href = post.link -%}
{%- endif -%}

<li class="post-summary">
    <a class="info" href="{{ post.url | relative_url }}">
        {{ post.date | date: site.date_format }}
        {%- if post.byline -%}
        , {{ post.byline }}
        {%- endif -%}
    </a>
    <a class="title" href="{{ href }}">
        <h1>
            {%- if post.link -%}
            <span class="nearr"></span>
            {%- endif -%}
            {{ post.title | escape }}
        </h1>
    </a>
</li>