$max-width: 768px;
$md: 768px;
$black: #333;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $black;
  min-height: 100vh;
  height: 100%;
  background-color: ivory;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
}

.layout-wrapper {
  width: 100%;
}

.layout-container {
  max-width: $max-width;
  margin: 0 auto;
}

.body-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
}

@mixin subtle-links() {
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}

header {
  background-color: pink;

  .header-top {
    display: flex;
    justify-content: space-between;
    @include subtle-links();
    padding: 20px 20px 10px 20px;

    @media (max-width: $md) {
      padding: 10px;
    }
  }

  #nav-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &.active {
      transform: rotate(90deg);
    }
  }

  menu {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    a {
      display: block;
      text-align: right;
      padding-top: 2px;
      padding-right: 10px;
      margin: 8px 7px 12px 0;
      text-decoration: none;
      border-right: 5px solid aquamarine;
      color: $black;

      @media (max-width: $md) {
        padding-right: 5px;
        margin-right: 0px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        color: $black;
      }

      .nearr {
        padding-left: 2px;
        position: relative;
        bottom: 2px;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.home {
  > .layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

ul.posts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-summary {
  margin-top: 10px;
  margin-bottom: 20px;
  @include subtle-links();

  .date {
    font-size: 0.9rem;
    color: #666;
  }

  .nearr {
    padding-right: 5px;
    position: relative;
    bottom: 5px;
  }

  .byline {
    font-style: italic;
  }

  a {
    display: block;
    width: 100%;
    border-left: 5px solid aquamarine;
    padding-right: 20px;
    padding-left: 15px;
  }
}

.pager {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include subtle-links();

  .invisible {
    visibility: hidden;
  }

  > * {
    margin: 0 5px;
  }

  .next-page,
  .previous-page {
    font-size: 1.5rem;
    position: relative;
    bottom: 2px;
  }
}

.post {
  margin-top: 10px;
  @include subtle-links();

  .layout-container {
    padding: 0 20px;
    @media (max-width: $md) {
      padding: 0 10px;
    }
  }

  p {
    margin-top: 10px;
  }

  .nearr {
    position: relative;
    bottom: 5px;
  }

  .date {
    font-size: 0.9rem;
    color: #666;
  }

  .byline {
    font-style: italic;
  }
}

footer {
  text-align: center;
  padding: 10px 0;

  p {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
  }
}

.categories {
  margin-top: 10px;
  .page-title {
    margin-top: 0px;
    padding: 0 20px;
    @media (max-width: $md) {
      padding: 0 10px;
    }
  }
  .category-option {
    margin: 10px 20px;
    @include subtle-links();
    h3 {
      display: inline;
    }

    @media (max-width: $md) {
      margin: 10px 10px;
    }
  }
}

.auto-category {
  margin-top: 10px;
  .page-heading {
    margin-bottom: 16px;
    padding-left: 20px;
    @media (max-width: $md) {
      padding-left: 10px;
    }
  }
}
